html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}



.Header {
 /* FF3.6-15 */
 background: -webkit-linear-gradient(top, black 0%, transparent 100%);
 /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, black 0%, transparent 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
 /* IE6-9 */
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 padding: 40px;
 position: fixed;
 top: 0;
 left: 0;
 width: 100vw;
 box-sizing: border-box;
 z-index: 5;



  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
.Search{
  width: 20%;
  
}
.Search input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  
  height: 37px;
  width: 80%;
  background: transparent;
  color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border: 2px solid rgba(255, 255, 255, 0.226);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.Search input:focus {
  border: 2px solid #e50914;
  width: 100%;
}
.Search input:hover {
  border: 2px solid #e50914;
}
.Search input::placeholder {
  color: rgba(255, 255, 255, 0.582);
}
body {
  background: #221f1f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}